<nav class="navbar  navbar-light navbar-expand-sm" style="background-color: pink">
  <div class="container">
    <a class="navbar-brand d-none d-sm-inline-block" href="#">
      <img src="images/sweet.png" style="width: 350px;">
    </a>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="cookies">Cookies</a>
      <a class="nav-item nav-link" href="cakes">Cakes</a>
      <a class="nav-item nav-link" href="muffins">Muffins</a>
      <a class="nav-item nav-link" href="catalog">Catalog</a>
    </div>
  </div>
</nav>
<div class="container">
  <img class="img-fluid" src="/Images/bakery.jpg"></img>
</div>

<!-- <div class ="container"> <i class="fab fa-facebook"></i> </div> -->
