<nav class="navbar  navbar-light navbar-expand-sm" style="background-color: pink">
  <div class="container">
    <a class="navbar-brand d-none d-sm-inline-block" href="#">
      <img src="images/sweet.png" style="width: 350px;">
    </a>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="cookies">Cookies</a>
      <a class="nav-item nav-link" href="cakes">Cakes</a>
      <a class="nav-item nav-link" href="muffins">Muffins</a>
      <a class="nav-item nav-link" href="catalog">Catalog</a>
    </div>
  </div>
</nav>
<center>
  <h1>
    All so very sweet
  </h1>

  <% @my_muffins.each do |muffin| %>
    <!-- don't use inline styles -->
    <ul style="list-style : none;">
      <li>
        <img src="<%= muffin.image %>" width="400px" height="400px"></li>
      <li>
        <%= muffin.muffins %>
      </li>
      <li>
        <%= muffin.description %>
      </li>
      <li>
        <%= muffin.price %>
      </li>
    </ul>

  <% end %>
</center>
